.benefit {
  min-height: 902px;
  background-color: $white;

  @media (min-width: $tablet) {
    min-height: 630px;
  }

  @media (min-width: $desktop) {
    min-height: 554px;
  }
}

.benefit__wrapper {
  padding-top: 50px;
  padding-bottom: 50px;
  text-align: center;

  @media (min-width: $tablet) {
    padding: 60px 30px 100px;
  }

  @media (min-width: $desktop) {
    padding: 100px 30px 96px;
  }
}

.benefit__suptitle {
  display: inline-block;
  text-transform: uppercase;
  font-weight: 700;
  color: $base-purple;
  font-size: 12px;
  line-height: 16px;
  margin-bottom: 4px;
}

.benefit__title {
  @include mobile-benefits-title();
  margin: 0;
  margin-bottom: 36px;

  @media (min-width: $tablet) {
    @include tablet-benefits-title();
    margin-bottom: 60px;
  }
}

.benefit__list {
  @include clear-list();

  @media (min-width: $tablet) {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    row-gap: 50px;
  }

  @media (min-width: $desktop) {
    align-items: baseline;
  }
}

.benefit__item {
  min-height: 142px;
  margin-bottom: 32px;

  @media (min-width: $tablet) {
    display: grid;
    column-gap: 20px;
    grid-template-columns: 52px 267px;
    grid-template-rows: 56px auto;
    justify-items: start;
    font-size: 16px;
    line-height: 24px;
    width: 339px;
    min-height: 94px;
    margin-bottom: 0;
  }

  @media (min-width: $desktop) {
    display: block;
    width: 318px;
    min-height: 194px;
    text-align: center;

    br {
      display: block;
    }
  }
}

.benefit__item:last-child {
  margin-bottom: 0;
}

.benefit__item-img {
  margin-bottom: 10px;

  @media (min-width: $tablet) {
    grid-row: 1/2;
  }
}

.benefit__item-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 32px;
  margin: 0;
  margin-bottom: 4px;

  @media (min-width: $tablet) {
    @include mobile-benefits-title();
    grid-row: 1;
  }

  @media (min-width: $desktop) {
    margin-bottom: 10px;
  }
}

.benefit__item-text {
  margin: 0;

  @media (min-width: $tablet) {
    text-align: start;
    grid-column: 2;
    grid-row: 2;
    padding-right: 10px;

    br {
      display: none;
    }
  }

  @media (min-width: $desktop) {
    text-align: center;
    padding-right: 0;
  }
}
