.cards {
  padding-bottom: 44px;
}

.cards__list {
  @include clear-list();

  margin-bottom: 40px;

  @media (min-width: $tablet) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 30px;
    margin-bottom: 70px;
  }
}

.cards__item {
  border-radius: 4px;
  background-color: $white;
  min-height: 420px;
  padding: 40px 20px 20px;
  margin-bottom: 20px;

  &:last-child {
    margin-bottom: 0;
  }

  @media (min-width: $tablet) {
    width: 349px;
    min-height: 440px;
    margin-bottom: 0;
  }

  @media (min-width: $desktop) {
    width: 317px;
    min-height: 460px;
  }
}

.cards__img {
  margin-bottom: 24px;
}

.cards__sort-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;

  @media (min-width: $tablet) {
    justify-content: end;
  }
}

.cards__suptitle {
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
}

.cards__title {
  text-align: start;
  font-family: $main-font-bold;
  font-size: 18px;
  line-height: 32px;
  margin: 0;
  margin-bottom: 4px;
}

.cards__text {
  padding-right: 5px;
  text-align: start;
  margin: 0;
  margin-bottom: 16px;
}

.cards__price {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0;

  span {
    font-size: 20px;
    line-height: 32px;
    font-weight: 600;
  }
}

.cards__button {
  &:hover,
  &:focus {
    background-color: $purple-lighter;
  }

  &:active {
    background-color: $purple-darker;
  }
}

.cards__pagination {
  display: flex;
  gap: 20px;

  @media (min-width: $tablet) {
    position: relative;
    margin-left: auto;
    justify-content: center;
    width: 400px;
  }
}

.cards__button-numb-icon {
  fill: $base-purple;
  display: inline-block;

  @media (min-width: $tablet) {
    display: none;
  }
}

.cards__button-numb {
  cursor: pointer;
  border-radius: 4px;
  background-color: $white;
  color: $base-purple;
  font-size: 16px;
  line-height: 24px;
  border: none;
  width: 40px;
  height: 40px;

  &--next {
    @media (min-width: $tablet) {
      position: absolute;
      right: -20px;
    }
  }

  &--back {
    @media (min-width: $tablet) {
      position: absolute;
      left: -20px;
    }
  }

  &--active {
    background-color: transparent;
    color: $black;
    font-weight: 600;
    flex-shrink: 0;
  }

  &:active {
    background-color: $base-purple;
    color: $white;
  }

  &:hover,
  &:focus {
    background-color: $purple-lighter;
    color: $white;
  }

  &:hover > .cards__button-numb-icon,
  &:focus > .cards__button-numb-icon {
    fill: $white;
  }
}

.cards__button-numb:first-child,
.cards__button-numb:last-child {
  @media (min-width: $tablet) {
    width: 150px;
  }
}

.cards__button-numb:last-child {
  .cards__button-numb-icon {
    transform: rotate(180deg);
  }
}

.cards__button-numb-text {
  display: none;

  @media (min-width: $tablet) {
    display: block;
  }
}

.cards__icon {
  fill: $white;
  margin-right: 6px;
}
