.form {
  text-align: start;
  font-size: 16px;
  line-height: 24px;
  margin: 0;
  margin-bottom: 40px;

  @media (min-width: $tablet) {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 22px;
    margin-bottom: 44px;
  }

  @media (min-width: $desktop) {
    grid-template-columns: 318px;
    grid-template-rows: repeat(3, min-content);
    min-height: 714px;
  }
}

.form__range {
  margin-bottom: 24px;
}

.form__text {
  display: inline-block;
  margin-bottom: 22px;
  font-weight: 600;
}

.form__scale {
  position: relative;
  margin-bottom: 35px;
  width: 100%;
  height: 2px;
  background-color: $light-grey;

  @media (min-width: $tablet) {
    width: 220px;
  }

  &::after,
  &::before {
    position: absolute;
    border-radius: 50%;
    border: 2px solid $base-purple;
    content: "";
    width: 24px;
    height: 24px;
    background-color: $white;
    transform: translate(-50%, -50%);
  }

  &--min::before {
    left: 10px;
  }

  &--max::after {
    right: 30px;
  }

  .form__bar {
    display: block;
    background-color: $base-purple;
    height: 2px;
    width: 80%;
  }
}

.form__count {
  position: relative;
  display: flex;
  justify-content: space-between;

  &::after {
    position: absolute;
    content: "";
    width: 8px;
    height: 2px;
    background-color: $grey;
    left: 50%;
    top: 18px;
  }

  input {
    text-align: center;
    width: 118px;
    padding: 6px 10px;
    border: 2px solid $base-purple;
    border-radius: 4px;
    outline: none;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;

    @media (min-width: $tablet) {
      width: 92px;
    }
  }
}

.form__buttons {
  text-align: center;

  @media (min-width: $tablet) {
    display: flex;
    column-gap: 30px;
    grid-column: 1/-1;
    justify-self: center;
    margin-bottom: 30px;
  }
}

.form__button {
  border: none;
  font-size: 14px;
  line-height: 24px;
  color: $white;
  font-family: $main-font;
  border-radius: 4px;
  cursor: pointer;
  width: 160px;
  height: 45px;

  &--submit {
    background-color: $base-purple;
    margin-bottom: 24px;

    &:hover,
    &:focus {
      background-color: $purple-lighter;
    }

    &:active {
      background-color: $base-purple;
    }

    @media (min-width: $tablet) {
      margin-bottom: 0;
    }
  }

  &--reset {
    background-color: $white;
    color: $base-purple;

    &:hover,
    &:focus {
      background-color: $purple-lighter;
      color: $white;
    }

    &:active {
      background-color: $base-purple;
    }
  }
}
