.goods {
  min-height: 600px;
  background-color: $lightest-grey;
}

.goods__wrapper {
  text-align: center;
  padding-top: 50px;

  @media (min-width: $tablet) {
    padding-top: 80px;
  }

  @media (min-width: $desktop) {
    display: grid;
    grid-template-columns: 318px 1011px;
    column-gap: 30px;
  }
}

.goods__suptitle {
  text-transform: uppercase;
  color: $base-purple;
  font-size: 12px;
  line-height: 16px;
  font-family: $main-font-bold;

  @media (min-width: $desktop) {
    grid-column: 2/-1;
  }
}

.goods__title {
  @include mobile-benefits-title();

  margin: 0;
  margin-bottom: 20px;

  @media (min-width: $desktop) {
    grid-column: 2/-1;
  }
}
