.goods {
  min-height: 600px;
  background-color: $lightest-grey;
}

.goods__wrapper {
  text-align: center;
  padding-top: 50px;
}

.goods__suptitle {
  text-transform: uppercase;
  color: $base-purple;
  font-size: 12px;
  line-height: 16px;
  font-family: $main-font-bold;
}

.goods__title {
  @include mobile-benefits-title();

  margin: 0;
  margin-bottom: 20px;
}
