.header {
  position: relative;
  min-height: 60px;
  background-color: $white;
}

.header__nav {
  display: none;
  position: absolute;
  top: 60px;
  left: 0;
  background-color: $white;
  width: 100%;
  z-index: 3;

  &--open {
    display: block;
  }

  @media (min-width: $tablet) {
    display: block;
    position: static;
  }
}

.header__logo {
  margin-right: auto;
}

.header__promo-text {
  margin: 0;
  display: none;

  @media (min-width: $desktop) {
    display: inline-block;
    margin-left: 20px;
    font-size: 12px;
    left: 16px;
  }
}

.header__img {
  @media (min-width: $tablet) {
    width: 82px;
  }

  @media (min-width: $desktop) {
    width: 170px;
  }
}

.header__wrapper {
  display: flex;
  align-items: center;
  padding-right: 0;
}

.header__list {
  @include clear-list();
  text-align: center;

  @media (min-width: $tablet) {
    display: flex;
    flex-wrap: wrap;
    min-height: 80px;
    min-width: 400px;
    align-items: center;
    justify-content: center;
  }

  .header__item {
    border: 1px solid $lavander-latte;
    padding: 20px 50px;

    @media (min-width: $tablet) {
      border: none;
      padding: 32px 20px;
    }

    a {
      text-decoration: none;
      color: $black;
      text-transform: uppercase;
      font-weight: 700;
      font-size: 12px;
      line-height: 16px;

      &:hover {
        color: $base-purple;
      }
    }
  }
}

.header__link {
  width: 60px;
  height: 60px;
  padding: 22px;
  text-decoration: none;

  @media (min-width: $tablet) {
    padding: 30px 20px;
    height: 80px;
  }

  @media (min-width: $desktop) {
    display: flex;
    align-items: center;
    width: 129px;
  }

  svg {
    fill: $black;
  }

  &:hover {
    background-color: $base-pink;
  }

  &:hover > svg {
    fill: $base-purple;
  }

  &:hover > .header__link-text {
    color: $base-purple;
  }

  .header__user-text,
  .header__cart-text {
    display: none;

    @media (min-width: $desktop) {
      display: inline-block;
      margin-left: 8px;
      text-transform: uppercase;
      font-size: 12px;
      line-height: 16px;
      color: $black;
    }
  }
}

.header__button {
  position: relative;
  display: block;
  background-color: transparent;
  width: 60px;
  height: 60px;
  border: none;
  cursor: pointer;
  padding: 0;

  &:hover,
  &:focus {
    background-color: $base-pink;
  }

  @media (min-width: $tablet) {
    display: none;
  }

  &::after {
    content: "";
    position: absolute;
    transform: translate(-50%, -50%);
    width: 16px;
    height: 16px;
    background-image: url("../img/burger.svg");
    background-position: center;
    background-repeat: no-repeat;
  }

  &--open::after {
    background-image: url("../img/burger-open.svg");
  }
}
