.product {
  background-color: $flat-white;

  @media (min-width: $desktop) {
    background: $flat-white;
  }
}

.product__wrapper {
  position: relative;
}

.product__item {
  display: grid;
  min-height: 670px;
  justify-items: center;
  background-color: $flat-white;
  padding: 20px 20px 60px;

  &--two {
    background-color: $lavander-latte;
  }

  &--three {
    background-color: $espresso;
  }

  @media (min-width: $tablet) {
    padding-top: 60px;
    min-height: 828px;
    background: linear-gradient(180deg, $flat-white 70%, $white 70%);

    &--two {
      background: linear-gradient(180deg, $lavander-latte 70%, $white 70%);
    }

    &--three {
      background: linear-gradient(180deg, $espresso 70%, $white 70%);
    }
  }

  @media (min-width: $desktop) {
    min-height: 714px;
    padding-top: 0;
    display: flex;
    column-gap: 30px;
    align-items: center;
    background: linear-gradient(180deg, $flat-white 100%, $white 0%);

    &--two {
      background: linear-gradient(180deg, $lavander-latte 100%, $white 0%);
    }

    &--three {
      background: linear-gradient(180deg, $espresso 100%, $white 0%);
    }
  }
}

.product__picture {
  @media (min-width: $tablet) {
    grid-row: 2;
    justify-self: center;
  }
}

.product__img {
  margin-bottom: 10px;

  @media (min-width: $tablet) {
    width: 476px;
  }

  @media (min-width: $desktop) {
    width: 600px;
  }
}

.product__content {
  display: grid;
  justify-items: center;

  @media (min-width: $tablet) {
    margin-bottom: 20px;
  }

  @media (min-width: $desktop) {
    grid-template-rows: repeat(4, min-content);
    justify-items: start;
  }
}

.product__new {
  font-weight: 700;
  display: inline-block;
  color: $base-purple;
  text-transform: uppercase;
  margin-bottom: 4px;

  @media (min-width: $desktop) {
    grid-column: 2/2;
  }
}

.product__title {
  @include mobile-title();
  text-align: center;
  margin: 0;
  margin-bottom: 10px;

  @media (min-width: $tablet) {
    @include tablet-title();
  }

  @media (min-width: $desktop) {
    grid-column: 2/2;
  }
}

.product__text {
  margin: 0 auto;
  margin-bottom: 20px;
  text-align: center;

  @media (min-width: $tablet) {
    @include tablet-text();
    width: 608px;
  }

  @media (min-width: $desktop) {
    grid-column: 2;
    text-align: start;
    margin-bottom: 40px;
  }
}

.product__order {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin: 0;
  column-gap: 20px;

  del {
    color: $base-purple;
    font-size: 16px;
    line-height: 32px;
  }

  b {
    font-size: 20px;
    font-weight: 700;
    line-height: 32px;
  }

  @media (min-width: $desktop) {
    grid-column: 2;
  }
}

.product__button {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  border: none;
  background-color: transparent;
  width: 20px;
  height: 100%;
  padding: 0;
  cursor: pointer;
  z-index: 50;

  &:hover,
  &:focus {
    background: $button-slider-hover;
  }

  &:active {
    background: $button-slider-gradient;
  }

  svg {
    fill: $base-purple;
  }

  &--left {
    left: 0;
    top: 0;
  }

  &--right {
    right: 0;
    top: 0;
    transform: rotate(180deg);
  }

  @media (min-width: $tablet) {
    width: 80px;
  }

  @media (min-width: $desktop) {
    height: 100%;
  }
}

.product__pagination {
  display: none;

  .swiper-pagination-bullet {
    border: none;
    background-color: $white;
    height: 4px;
    width: 62px;
    border-radius: 0;

    &:hover,
    &:focus {
      background-color: $pink-opacity;
    }
  }

  @media (min-width: $desktop) {
    display: block;
    margin-bottom: 60px;
  }

  .swiper-pagination-bullet-active {
    background-color: $base-purple;
  }
}
