/* здесь используйте глобальные переменные */

/* Color */

$white: #ffffff;
$grey: #bdbdbd;
$black: #333333;
$base-purple: #7859cf;
$base-pink: #f0ebff;

/* Alt Colors */

$pink-opacity: rgba(120, 89, 207, 0.25);
$purple-lighter: #9070ec;
$purple-darker: #593cac;
$light-grey: #e2e2e2;
$box-shadow: rgba(0, 0, 0, 0.15);

/* background-colors */

$lightest-grey: #f8f8f8;
$flat-white: #f3ebe1;
$lavander-latte: #eae6fc;
$espresso: #e5e6e8;
$button-slider-gradient: linear-gradient(90deg, rgba(120, 89, 207, 0.25) 0%, rgba(120, 89, 207, 0) 100%);
$button-slider-hover: linear-gradient(90deg, #ffffff 0%, rgba(255, 255, 255, 0) 100%);

/* main font */
$main-font: "Montserrat", "Tahoma", sans-serif;

/* media resize */

$mobile: 320px;
$tablet: 768px;
$desktop: 1440px;
